<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <style>
      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
          inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }
    </style>
</head>
<body>
<header class="p-3 bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a th:href="@{/}" href="home.html" class="nav-link px-2 text-white">Home</a>
                </li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2"
                        th:onclick="|location.href='@{/login}'|"
                        onclick="location.href='login.html'">
                    Login
                </button>
                <button type="button" class="btn btn-warning"
                        th:onclick="|location.href='@{/members/add}'|"
                        onclick="location.href='signUp.html'">
                    Sign-up
                </button>
            </div>
        </div>
    </div>
</header>

<div class="b-example-divider"></div>

<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h1>나만의 게시판</h1>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-secondary float-end"
                    th:onclick="|location.href='@{/article/add}'|" type="button">
                게시글 등록
            </button>
        </div>
    </div>

    <hr class="my-4" />
    <div>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th width="10%">#</th>
                <th width="30%">제목</th>
                <th width="30%">작성자</th>
                <th width="30%">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article, articleStat : ${articles}">
                <td th:text="${articleStat.count}"></td>
                <td><a th:href="@{/article/{id}(id=${article.id})}" th:text="${article.title}"></a></td>
                <td th:text="${article.author}"></td>
                <td th:text="${article.localDateTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /container -->
</body>
</html>
